
.streamlinepet-paw-solid {
  position: absolute;
  top: 36px;
  left: 51px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.streamlinepet-paw-solid1,
.streamlinepet-paw-solid2 {
  position: absolute;
  top: 919px;
  left: 474px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.streamlinepet-paw-solid2 {
  top: 917px;
  left: 711px;
}
.guidancefemale-sign,
.mdibirthday-cake,
.mdilocation {
  position: absolute;
  top: 910px;
  left: 76px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.guidancefemale-sign,
.mdibirthday-cake {
  left: 938px;
}
.mdibirthday-cake {
  left: 1180px;
}
.embrace-endless-love {
  position: absolute;
  top: 372px;
  left: 156px;
  letter-spacing: 0.1em;
  font-weight: 300;
  display: inline-block;
  width: 571px;
}
.frame-child,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 366px;
  height: 435px;
}
.frame-item {
  top: -8px;
  left: 855px;
}
.image-1-icon,
.image-removebg-preview-4-1 {
  position: absolute;
  top: 0;
  left: 27px;
  width: 185px;
  height: 291px;
}
.image-1-icon {
  top: -39px;
  left: -25px;
  width: 474px;
  height: 474px;
  object-fit: cover;
}
.image-removebg-preview-4-1-group,
.image-removebg-preview-4-1-parent {
  text-decoration: none;
  width: 395px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-lightgray);
  height: 435px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-removebg-preview-4-1-group {
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
}
.frame-group {
  position: absolute;
  top: -22px;
  left: calc(50% - 643px);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 62px;
}
.most-popular {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 58px);
  letter-spacing: 0.1em;
  font-weight: 600;
}
.most-popular-wrapper {
  position: absolute;
  top: -28px;
  left: 946px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darksalmon);
  width: 178px;
  height: 40px;
  overflow: hidden;
}
.frame-parent {
  position: absolute;
  top: 328px;
  left: calc(50% - 470px);
  width: 904px;
  height: 345px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.vector-icon,
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  top: 888px;
  left: 516px;
  width: 20px;
  height: 20px;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  left: 978px;
}
.vector-icon2,
.vector-icon3 {
  left: 559px;
}
.vector-icon3 {
  left: 1024px;
}
.vector-icon4,
.vector-icon5,
.vector-icon6,
.vector-icon7 {
  position: absolute;
  top: 888px;
  left: 605px;
  width: 20px;
  height: 20px;
}
.vector-icon5,
.vector-icon6,
.vector-icon7 {
  left: 1070px;
}
.vector-icon6,
.vector-icon7 {
  left: 202px;
}
.vector-icon7 {
  left: 651px;
}
.vector-icon10,
.vector-icon11,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  top: 888px;
  left: 1116px;
  width: 20px;
  height: 20px;
}
.vector-icon10,
.vector-icon11,
.vector-icon9 {
  left: 248px;
}
.vector-icon10,
.vector-icon11 {
  left: 697px;
}
.vector-icon11 {
  left: 1162px;
}
.desktop-1-child,
.desktop-1-inner,
.desktop-1-item {
  position: absolute;
  top: 757px;
  left: 330px;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #fff, #e8eae9 58.71%, #a3bbad);
  width: 125px;
  height: 37px;
}
.desktop-1-inner,
.desktop-1-item {
  left: 766px;
  width: 138px;
}
.desktop-1-inner {
  left: 1231px;
}
.pupsicle,
.pupsicle1 {
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: inherit;
}
.pupsicle {
  position: absolute;
  top: 763px;
  left: calc(50% - 656px);
}
.pupsicle1 {
  left: calc(50% - 207px);
}
.div,
.pupsicle1,
.pupsicle2 {
  position: absolute;
  top: 763px;
}
.pupsicle2 {
  text-decoration: none;
  left: calc(50% + 258px);
  letter-spacing: 0.1em;
  font-weight: 600;
  color: inherit;
}
.div {
  left: calc(50% - 378px);
}
.div1 {
  top: 763px;
  left: calc(50% - 484px);
  color: var(--color-darkgray);
}
.div1,
.div4,
.line-div {
  position: absolute;
}
.line-div {
  top: 776.5px;
  left: 233.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 103px;
  height: 1px;
}
.div4 {
  top: 763px;
  left: calc(50% + 71px);
}
.reviews,
.reviews1,
.reviews2 {
  position: absolute;
  top: 888px;
  left: calc(50% - 434px);
  font-size: var(--font-size-mini);
}
.reviews1,
.reviews2 {
  left: calc(50% + 15px);
}
.reviews2 {
  left: calc(50% + 480px);
}
.long-lasting-quiet {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.designed-dog-toy {
  margin: 0;
}
.long-lasting-quiet-container,
.long-lasting-quiet-container1,
.long-lasting-quiet-container2 {
  position: absolute;
  top: 812px;
  left: calc(50% - 656px);
  font-size: var(--font-size-xl);
  letter-spacing: 0.1em;
}
.long-lasting-quiet-container1,
.long-lasting-quiet-container2 {
  left: calc(50% - 207px);
}
.long-lasting-quiet-container2 {
  left: calc(50% + 258px);
}
.discover-woof {
  margin: 0;
  top: 116px;
  left: calc(50% - 201px);
  font-size: var(--font-size-26xl);
  font-weight: 800;
  font-family: inherit;
}
.discover-woof,
.great-gift,
.the-good-things {
  position: absolute;
  letter-spacing: 0.1em;
}
.the-good-things {
  margin: 0;
  top: 162px;
  left: calc(50% - 252px);
  font-size: var(--font-size-xl);
  font-weight: 300;
}
.great-gift {
  top: 12px;
  left: calc(50% - 44px);
  font-weight: 600;
}
.great-gift-wrapper {
  position: absolute;
  top: 300px;
  left: 738px;
  border-radius: var(--br-5xs);
  background-color: #d3cdea;
  width: 178px;
  height: 40px;
  overflow: hidden;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  position: absolute;
  top: 888px;
  left: 67px;
  width: 20px;
  height: 20px;
}
.vector-icon13,
.vector-icon14 {
  left: 113px;
}
.vector-icon14 {
  left: 159px;
}
.div5 {
  position: absolute;
  top: 760px;
  left: calc(50% + 536px);
}
.desktop-1 {
  position: absolute;
  top: 2533px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray);
  font-family: var(--font-epilogue);
}
.adopt,
.petopia-pvt-ltd {
  position: absolute;
  top: 37px;
  left: calc(50% - 420px);
  font-size: var(--font-size-sm);
}
.petopia-pvt-ltd {
  left: calc(50% - 570px);
  font-size: var(--font-size-xs);
  font-weight: 500;
  display: inline-block;
  width: 91px;
  height: 8px;
}
.account,
.follow-along,
.info,
.order-support,
.shop {
  position: absolute;
  top: 37px;
  left: calc(50% - 317px);
  font-size: var(--font-size-sm);
}
.account,
.follow-along,
.info,
.order-support {
  left: calc(50% - 183px);
}
.account,
.follow-along,
.info {
  left: calc(50% + 239px);
}
.follow-along,
.info {
  left: calc(50% + 52px);
}
.follow-along {
  left: calc(50% + 480px);
}
.dog,
.kathmandu-np {
  position: absolute;
  top: 81px;
  left: calc(50% - 420px);
  font-weight: 300;
}
.kathmandu-np {
  top: 50px;
  left: calc(50% - 570px);
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 108px;
  height: 9px;
}
.about,
.log-in,
.pupsicle3,
.support {
  position: absolute;
  top: 81px;
  left: calc(50% - 317px);
  font-weight: 300;
}
.about,
.log-in,
.support {
  left: calc(50% - 183px);
}
.about,
.log-in {
  left: calc(50% + 239px);
}
.about {
  left: calc(50% + 52px);
}
.all,
.all1,
.faq,
.shipping-returns {
  position: absolute;
  top: 118px;
  left: calc(50% - 420px);
  font-weight: 300;
}
.all1,
.faq,
.shipping-returns {
  left: calc(50% - 317px);
}
.faq,
.shipping-returns {
  left: calc(50% - 183px);
}
.shipping-returns {
  top: 155px;
}
.create-an-account,
.news,
.store-locator {
  position: absolute;
  top: 118px;
  left: calc(50% + 239px);
  font-weight: 300;
}
.news,
.store-locator {
  left: calc(50% + 52px);
}
.news {
  top: 155px;
}
.vector-icon15,
.vector-icon16,
.vector-icon17 {
  position: absolute;
  height: 5%;
  width: 1.39%;
  top: 15.5%;
  right: 15.28%;
  bottom: 79.5%;
  left: 83.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon16,
.vector-icon17 {
  width: 0.73%;
  right: 13.58%;
  left: 85.69%;
}
.vector-icon17 {
  width: 1.39%;
  right: 11.25%;
  left: 87.36%;
}
.petopia {
  position: absolute;
  top: 75.75%;
  left: calc(50% - 227px);
  font-size: var(--font-size-81xl);
  letter-spacing: 0.1em;
  font-weight: 600;
  text-align: center;
}
.ellipse-div,
.frame-child1,
.frame-inner {
  position: absolute;
  top: 327px;
  left: 703px;
  border-radius: 50%;
  background-color: var(--color-darkslategray);
  width: 55px;
  height: 55px;
}
.ellipse-div,
.frame-child1 {
  left: 785px;
}
.frame-child1 {
  left: 502px;
}
.vector-icon18,
.vector-icon19 {
  height: 5.1%;
  width: 1.81%;
  top: 85.7%;
  bottom: 9.2%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon18 {
  position: absolute;
  right: 48.33%;
  left: 49.86%;
  overflow: hidden;
}
.vector-icon19 {
  right: 42.64%;
  left: 55.56%;
}
.adopt-parent,
.vector-icon19,
.vector-icon20 {
  position: absolute;
  overflow: hidden;
}
.vector-icon20 {
  height: 5.1%;
  width: 1.81%;
  top: 85.7%;
  right: 62.29%;
  bottom: 9.2%;
  left: 35.9%;
  max-width: 100%;
  max-height: 100%;
}
.adopt-parent {
  top: 3557px;
  left: -6px;
  background-color: var(--color-whitesmoke);
  width: 1440px;
  height: 400px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
  font-family: var(--font-epilogue);
}
.beautiful-pet-portrait-dog-icon {
  position: absolute;
  top: -69px;
  left: -38px;
  width: 1764px;
  height: 960px;
  object-fit: cover;
}
.adopt-now-and,
.embrace-endless-love-container {
  margin: 0;
  position: absolute;
  left: 41px;
  letter-spacing: 0.1em;
}
.embrace-endless-love-container {
  top: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.adopt-now-and {
  top: 217px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  display: inline-block;
  width: 559px;
}
.find-your-new,
.pet-type {
  position: absolute;
  top: 114px;
  left: 293px;
  letter-spacing: 0.01em;
  font-weight: 300;
}
.find-your-new {
  margin: 0;
  top: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 412px;
}
.age,
.breed,
.gender,
.your-location {
  position: absolute;
  top: 76px;
  left: 0;
  letter-spacing: 0.01em;
  font-weight: 300;
}
.age,
.breed,
.gender {
  left: 490px;
}
.age,
.gender {
  left: 708px;
}
.age {
  left: 924px;
}
.find-your-new-best-friend-parent {
  position: absolute;
  top: 38px;
  left: 23px;
  width: 961px;
  height: 97px;
}
.dog-parent,
.frame-input {
  position: absolute;
  top: 163px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 0;
  height: 47px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: var(--font-epilogue);
  font-weight: 600;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.frame-input {
  outline: 0;
  left: 23px;
  width: 250px;
  padding: 17px 36px;
}
.dog-parent {
  left: 293px;
  width: 200px;
  padding: 17.100000000000023px 51px 17.099999999999977px;
}
.all-parent {
  left: 513px;
  width: 200px;
  padding: 17.100000000000023px var(--padding-31xl) 17.099999999999977px;
}
.all-parent,
.gender-parent,
.years-old-wrapper {
  position: absolute;
  top: 163px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 0;
  height: 47px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: var(--font-epilogue);
  font-weight: 600;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.gender-parent {
  left: 731px;
  width: 200px;
  padding: 17.100000000000023px var(--padding-31xl) 17.099999999999977px;
}
.years-old-wrapper {
  left: 947px;
  width: 208px;
  padding: 17.100000000000023px 49px 17.099999999999977px;
}
.pet-type-parent {
  position: absolute;
  top: 410px;
  left: 18px;
  border-radius: var(--br-xl);
  background-color: rgba(255, 255, 255, 0.38);
  width: 1176px;
  height: 274px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.embrace-endless-love-with-your-parent {
  position: absolute;
  top: 181px;
  left: 114px;
  width: 1209px;
  height: 710px;
  overflow: hidden;
}
.beautiful-pet-portrait-dog-parent {
  position: absolute;
  top: 60px;
  left: 0;
  width: 1440px;
  height: 889px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-epilogue);
}
.frame-icon {
  position: absolute;
  top: 460px;
  left: 112px;
  width: 1231px;
  height: 444px;
  object-fit: cover;
}
.shadow-icon {
  position: absolute;
  top: 181px;
  left: 156px;
  width: 101.5px;
  height: 67px;
}
.others {
  position: absolute;
  top: 281px;
  left: calc(50% - 70px);
  letter-spacing: 0.1em;
  font-weight: 600;
}
.shadow-parent {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 921px;
  border-radius: var(--br-xl);
  background-color: var(--color-silver);
  width: 290px;
  height: 345px;
  overflow: hidden;
  color: inherit;
}
.rabbits {
  position: absolute;
  top: 281px;
  left: calc(50% - 77px);
  letter-spacing: 0.1em;
  font-weight: 600;
}
.wepik-export-20240328180922spl-icon {
  position: absolute;
  top: 127px;
  left: 55px;
  border-radius: var(--br-56xl-5);
  width: 180.3px;
  height: 154.4px;
  object-fit: contain;
}
.rabbits-parent {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 614px;
  border-radius: var(--br-xl);
  background-color: var(--color-silver);
  width: 290px;
  height: 345px;
  overflow: hidden;
  color: inherit;
}
.shadow-icon1 {
  position: absolute;
  top: 181px;
  left: 84px;
  width: 191px;
  height: 67px;
}
.cats {
  position: absolute;
  top: 281px;
  left: calc(50% - 46px);
  letter-spacing: 0.1em;
  font-weight: 600;
}
.image-removebg-preview-3-2,
.shadow-group {
  position: absolute;
  top: 39px;
  left: 61px;
  width: 190px;
  height: 209px;
}
.shadow-group {
  text-decoration: none;
  top: 0;
  left: 307px;
  border-radius: var(--br-xl);
  background-color: var(--color-silver);
  width: 290px;
  height: 345px;
  overflow: hidden;
  color: inherit;
}
.shadow-icon2 {
  position: absolute;
  top: 189px;
  left: 86px;
  width: 183.6px;
  height: 54px;
}
.dogs {
  position: absolute;
  top: 282px;
  left: calc(50% - 49px);
  letter-spacing: 0.1em;
  font-weight: 600;
}
.frame-div,
.shadow-container {
  position: absolute;
  height: 345px;
  overflow: hidden;
}
.shadow-container {
  text-decoration: none;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-silver);
  width: 290px;
  color: inherit;
}
.frame-div {
  top: 281px;
  left: 114px;
  width: 1211px;
}
.wepik-export-20240328180922spl-icon1 {
  position: absolute;
  top: 487px;
  left: 833px;
  border-radius: var(--br-56xl-5);
  width: 117.8px;
  height: 36.7px;
  object-fit: contain;
}
.image-removebg-preview-3-21 {
  position: absolute;
  top: 320px;
  left: 1096px;
  width: 190px;
  height: 209px;
  object-fit: cover;
}
.wepik-export-20240328181817bia-icon {
  position: absolute;
  top: 277px;
  left: 775px;
  width: 184px;
  height: 276px;
  object-fit: cover;
}
.wepik-export-20240328175634bap-icon {
  position: absolute;
  top: 161px;
  left: 452px;
  width: 266px;
  height: 400px;
  object-fit: cover;
}
.wepik-export-20240328175149yot-icon {
  position: absolute;
  top: 37px;
  left: 109px;
  width: 290px;
  height: 541px;
  object-fit: cover;
}
.sniff-the-pet {
  position: absolute;
  top: 105px;
  left: calc(50% - 174px);
  font-size: var(--font-size-26xl);
  letter-spacing: 0.1em;
  font-weight: 800;
}
.frame-container {
  position: absolute;
  top: 949px;
  left: 0;
  width: 1440px;
  height: 995px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-darkslategray);
  font-family: var(--font-epilogue);
}
.d35222155679201-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 685px;
  object-fit: cover;
}
.best-pet-adoption {
  margin: 0;
  position: absolute;
  top: 250px;
  left: calc(50% - 379px);
  font-size: var(--font-size-26xl);
  letter-spacing: 0.1em;
  font-weight: 800;
  font-family: inherit;
  color: #fafafa;
}
.frame-child2 {
  position: absolute;
  top: 112px;
  left: calc(50% - 116px);
  width: 233px;
  height: 45px;
  object-fit: cover;
}
.div6,
.snehascarecom {
  position: absolute;
  top: 320px;
  letter-spacing: 0.1em;
}
.div6 {
  left: calc(50% - 108px);
}
.snehascarecom {
  margin: 0;
  left: 634px;
}
.d35222155679201-1-parent {
  position: absolute;
  top: 1946px;
  left: 0;
  width: 1440px;
  height: 587px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-epilogue);
}
.frame-child3 {
  position: absolute;
  top: 3px;
  left: 2px;
  border-radius: 50%;
  background-color: var(--color-cadetblue);
  width: 55px;
  height: 55px;
}
.vector-icon21 {
  position: absolute;
  height: 33.5%;
  width: 43.33%;
  top: 30.83%;
  right: 30%;
  bottom: 35.67%;
  left: 26.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent,
.home {
  text-decoration: none;
  position: relative;
}
.ellipse-parent {
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  font-weight: 500;
  color: inherit;
}
.home-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-5xs);
  gap: var(--gap-31xl);
}
.rectangle-input {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  width: 232px;
  position: relative;
  border-radius: var(--br-base);
  height: 40px;
  z-index: 0;
}
.iconamoonsearch-thin {
  width: 25px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 12px);
  left: 187px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.rectangle-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0;
  position: relative;
  gap: var(--gap-3xs);
}
.shelter {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 33.5px);
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-epilogue);
  color: var(--color-darksalmon);
  text-align: left;
}
.shelter-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-darksalmon);
  padding: 0;
  background-color: transparent;
  width: 151px;
  position: relative;
  border-radius: var(--br-lg);
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.navbar,
.navbar-wrapper {
  margin: 0;
  display: flex;
  justify-content: flex-start;
}
.navbar {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-65xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-epilogue);
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1440px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-93xl);
  box-sizing: border-box;
}
.landing-page-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3962px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-epilogue);
}

@media only screen and (min-width: 1200px) {
  .landing-page-1 {
    zoom: 125%; 
  }
}
